html{
    margin-top: -16px;
    font-family: Arial, sans-serif;
}
body{
    margin:0;
    padding:0;
    justify-content: center;
    align-items: center;
    p{
        letter-spacing: 1.8px;
        text-indent: 10px;
        line-height: 160%;
    }
}



